{# dashboard admin twig #}
{% extends 'admin/_base_admin.html.twig' %}
{% block title %}Tableau de bord{% endblock %}
{% block content %}
    <div class="masonry-item w-100">
        <div class="row gap-20">
            <div class="alert-info">Bienvenue sur le tableau de bord du {{ app.user.etsName }}</div>
            <div class="masonry-item w-100">

                {# <div class ="content-box">
                    <div class ="content-title">
                        <h2>Timeline</h2>
                    </div>
                    <div class ="timeline-content">
                    
                        <ul>
                            {% for ev in event %}
                                <li>
                                    <div class ="choice-title">
                                        <h3>
                                            {{ev.getTitle}}
                                        </h3>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div> #}
                </div>



            




                <div class="row gap-20">
                    <div class="col-md-3">
                        <div class="layers bd bgc-white p-20">
                            <div class="layer w-100 mB-10"><h6 class="lh-1">Nombre étudiants</h6></div>
                            <div class="layer w-100">
                                <div class="peers ai-sb fxw-nw">
                                    <div class="peer peer-greed"><span id="sparklinedash"></span></div>
                                    <div class="peer"><span
                                                class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ students }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="layers bd bgc-white p-20">
                            <div class="layer w-100 mB-10"><h6 class="lh-1">Nombre professeurs</h6></div>
                            <div class="layer w-100">
                                <div class="peers ai-sb fxw-nw">
                                    <div class="peer peer-greed"><span id="sparklinedash2"></span></div>
                                    <div class="peer"><span
                                                class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">{{ profs }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="layers bd bgc-white p-20">
                            <div class="layer w-100 mB-10"><h6 class="lh-1">Nombre salle disponible</h6></div>
                            <div class="layer w-100">
                                <div class="peers ai-sb fxw-nw">
                                    <div class="peer peer-greed"><span id="sparklinedash3"></span></div>
                                    <div class="peer">
                                        <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">{{ rooms }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="layers bd bgc-white p-20">
                            <div class="layer w-100 mB-10"><h6 class="lh-1">Personnels</h6></div>
                            <div class="layer w-100">
                                <div class="peers ai-sb fxw-nw">
                                    <div class="peer peer-greed"><span id="sparklinedash4"></span></div>
                                    <div class="peer">
                                        <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500">{{ personels }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

          
        <div class="Recherche">



                {{ form_start(form) }}
                        {{ form_row(form) }}
                {{ form_end(form) }} 


            <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <div class="row">
                    
                    <div class="col-md-6">
                        <h4 class="c-grey-900 mB-20">Liste des eleves</h4>
                    </div>
                    
                </div>
                    
                
                <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>prenom</th> 
                        <th>Pseudo</th>   
                        <th>Immatricule</th>  
                        <th>Classroom</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nom</th>
                        <th>prenom</th>   
                        <th>Pseudo</th>      
                        <th>Immatricule</th> 
                        <th>Classroom</th> 
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for ent in ents %}
                        <tr>
                            <td>{{ ent.getUser().getNom() }}</td>
                            <td>{{ ent.getUser().getPrenom() }}</td>
                            <td>{{ ent.getUser().getUsername() }}</td>
                            <td>{{ ent.getUser().getImatriculation() }}</td>
                            <td>{{ ent.getClasse().getName() }}</td>
                            
                            
                        </tr>
                    {% endfor %}

             

        </div>
        
{% endblock %}
