{% extends 'admin/_base_admin.html.twig' %}
{% set menu_section = true %}
{% block title %}Etudiant{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <div class="row">
                    
                    <div class="col-md-6">
                        <h4 class="c-grey-900 mB-20">Liste des payments</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="{{ path('payment_create') }}" class="btn btn-primary">Nouveau</a>
                    </div>
                </div>
                    
                
                <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Montant</th>
                        <th>Type</th> 
                        <th>Motif</th>   
                        <th>date payment</th>  
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Montant</th>
                        <th>Type</th>   
                        <th>Motif</th>      
                        <th>date payment</th>  
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for payment in payments %}
                        <tr>
                            <td>{{ payment.montant }} Ar</td>
                            <td>{{ payment.type }}</td>
                            <td>{{ payment.motif }}</td>
                            <td>{{ payment.getDatePayment().format('Y-m-d') }}</td>
                            
                            
                            
                        </tr>
                    {% endfor %}

                    
                    </tbody>
                </table>
                
            </div>
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                    
                    <nav aria-label="breadcrumb">
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROFS') %}
                            <ol class="breadcrumb">
                                {% for tot in total %}
                                    <li class="breadcrumb-item active" aria-current="page">Somme des entrees : {{ tot }} Ar</li>
                                {% endfor %}
                            </ol>
                        {% endif %}

                        <ol class="breadcrumb">
                        {% for sor in sortie %}
                            <li class="breadcrumb-item active" aria-current="page">Somme des sorties : {{ sor }} Ar</li>
                        {% endfor %}
                        </ol>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROFS')%}
                            <ol class="breadcrumb">
                            {% for benefice in benefices %}
                                <li class="breadcrumb-item active" aria-current="page">Balance : {{ benefice }} Ar</li>
                            {% endfor %}
                            </ol>
                        {% endif %}
            </nav>
                </div>
            
        </div>
    </div>
{% endblock %}

